body  {
    /* background-color: hsl(216, 12%, 8%); */
    background-color: black;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    display: flex;

}


#preview-card {
    background-color: hsl(216, 12%, 8%);
    margin: 30px;
    border-radius: 50px;
    padding: 30px;
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.cover {
    width: 45px;
    height: 45px;
    text-align: center;
    background-color:hsla(217, 12%, 63%, 0.118);
    border-radius: 50%;
}

.cover img {
    margin: 30%;
}

p  {
    color: rgba(255, 255, 255, 0.445);
    font-size: 15px;
}

.rating {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}

.rates {
    width: 45px;
    height: 45px;
    background-color:hsla(217, 12%, 63%, 0.118);
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: rgba(255, 255, 255, 0.445);

}

.rates:hover {
    background-color: hsl(25, 97%, 53%);
    color: rgba(255, 255, 255, 1); /* Full opacity white on hover */
    transition: 0.5s;

}

button {
    background-color: hsl(25, 97%, 53%);
    color: rgb(255, 255, 255);
    outline: none;
    border:none ;
    text-decoration: none;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    transition: 0.5s;
}

#thank-you {
    /* background-color: hsl(213, 19%, 18%); */
    background-color: black;
    margin: 30px;
    border-radius: 50px;
    padding: 30px;
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-align: center;
    display: none;
}

.selected {
    /* background-color:hsla(217, 12%, 63%, 0.118); */
    background-color: hsl(213, 19%, 18%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
}



